<html>
     <head>
        <title>Christina's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Christina's Blog</a></h1>
            <h2>Day at Django Girls Oxford</h2>
        </div>

        <div>
            <p>published: 06.05.2017</p>
            <h2><a href="">My first post</a></h2>
            <p>This has been an amazing day at Django Girls! I have learned so much, absorbing so many concepts and nuggets of knowledge but I feel my brain dying #fighttheafternoonslump</p>
        </div>

        <div>
            <p>published: 06.05.2017</p>
            <h2><a href="">My second post</a></h2>
            <p>Can't wait to see the rest of Oxford</p>
        </div>
    </body>
</html>